<template>
    <v-card class="my-3">
        <v-card-title>
            <i>{{deal.id}}</i>
        </v-card-title>
        <v-card-text>
            <v-col>
                Время совершения: {{formatTime(deal.time)}}
            </v-col>
            <v-col>
                Продавец: {{deal.seller.id}}
            </v-col>
            <v-col>
                Покупатель: {{deal.buyer.id}}
            </v-col>
            <v-col>
                Список товаров:
                <deal-product-list :products="deal.products" btn-text="Показать"></deal-product-list>
            </v-col>
        </v-card-text>
    </v-card>
</template>

<script>
    import DealProductList from "./DealProductList.vue";
    export default {
        name: "DealItem",
        components: {DealProductList},
        props: ['deal'],
        methods: {
            formatTime(time) {
                const d = new Date(time);
                return ('0' + d.getDate()).slice(-2) + '/' + ('0' + (d.getMonth() + 1)).slice(-2) + '/' + d.getFullYear();
            }
        }
    }
</script>

<style scoped>

</style>