<template>
    <v-layout>
        <v-dialog v-model="dialog" scrollable max-width="400px">
            <template #activator="{ on }">
                <v-btn small v-on="on">{{btnText}}</v-btn>
            </template>
            <v-card>
                <v-card-title>
                    Список товаров
                </v-card-title>
                <v-card-text>
                    <v-layout column>
                        <v-card v-for="product in products" v-bind:key="product.id">
                            <v-card-title>
                                <i class="mr-3">{{product.id}}</i>
                                {{product.name}}
                            </v-card-title>
                            <v-card-text>
                                <v-layout column>
                                    <v-col>
                                        Количество: {{product.quantity}}
                                    </v-col>
                                    <v-col>
                                        Цена за штуку: {{product.unitPrice.toFixed(2)}}
                                    </v-col>
                                    <v-col>
                                        Общая стоимость: {{(product.quantity * product.unitPrice).toFixed(2)}}
                                    </v-col>
                                </v-layout>
                            </v-card-text>
                        </v-card>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    export default {
        name: "DealProductList",
        props: ['products', 'btnText'],
        data() {
            return {
                dialog: false
            }
        }
    }
</script>

<style scoped>

</style>