<template>
    <v-expansion-panel>
        <v-expansion-panel-header>
            <v-col cols="1"><i>({{worker.id}})</i></v-col>
            <v-col>{{ worker.name }}</v-col>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
            <v-layout column>
                <v-col>Зарплата: {{ worker.salary }}</v-col>
                <v-col>
                    Выработка: {{ this.output }}
                </v-col>
            </v-layout>

            <v-btn icon @click="dialog=true">
                <v-icon>{{editIcon}}</v-icon>
            </v-btn>
            <v-btn icon color="#ff6347" @click="del" small>
                <v-icon>{{deleteIcon}}</v-icon>
            </v-btn>

            <worker-form
                    :activate-btn="false"
                    :external-activation="dialog"
                    :deactivate="deactivateDialog"
                    :workers="workers"
                    :worker="worker"
                    :outlet="outlet"
            ></worker-form>
        </v-expansion-panel-content>
    </v-expansion-panel>
</template>

<script>
    import {mdiDelete, mdiCircleEditOutline} from '@mdi/js'
    import WorkerForm from "./WorkerForm.vue";
    import util from 'util/util'

    export default {
        components: {WorkerForm},
        props: ['worker', 'workers', 'outlet', 'deleteWorker'],
        data() {
            return {
                deleteIcon: mdiDelete,
                editIcon: mdiCircleEditOutline,
                output: 0.0,
                dialog: false
            }
        },
        created() {
            this.$resource('/worker/output').get({'worker_id': this.worker.id}).then(result => {
                result.json().then(data => {
                    this.output = data.toFixed(2);
                })
            })
        },
        methods: {
            del() {
                this.deleteWorker(this.worker);
            },
            edit(worker) {
                const index = util.getIndex(this.workers, worker.id);
                this.workers.splice(index, 1, worker);
            },
            deactivateDialog() {
                this.dialog = false;
            }
        }
    }
</script>

<style>

</style>