<template>
    <form>
        <v-layout class="my-5" row justify-center>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <template #activator="{ on }">
                    <v-btn v-if="activateBtn" color="primary" v-on="on" :disabled="disable">{{btnText}}</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить сотрудника</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-col>
                                <v-text-field
                                        class="mx-2"
                                        label="Name"
                                        placeholder="Имя"
                                        v-model="name"
                                        required
                                        @input="$v.name.$touch()"
                                        @blur="$v.name.$touch()"
                                        :error-messages="nameErrors"
                                ></v-text-field>
                            </v-col>

                            <v-col>
                                <v-text-field
                                        class="mx-2"
                                        label="Salary"
                                        placeholder="Зарплата"
                                        v-model="salary"
                                        required
                                        @input="$v.salary.$touch()"
                                        @blur="$v.salary.$touch()"
                                        :error-messages="salaryErrors"
                                ></v-text-field>
                            </v-col>

                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" @click="save" :disabled="$v.$invalid">Save</v-btn>
                        <v-btn color="blue darken-1" @click="close">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </form>
</template>

<script>
    import util from '../../util/util'

    import {validationMixin} from 'vuelidate'
    import {required, maxLength, minValue, decimal} from 'vuelidate/lib/validators'


    export default {
        name: "WorkerForm",
        props: [
            'outletId', 'workers', 'worker',
            'disable', 'btnText', 'activateBtn',
            'externalActivation', 'deactivate', 'addWorker',
            'editWorker'
        ],
        mixins: [validationMixin],
        validations: {
            name: {required, maxLength: maxLength(60)},
            salary: {required, decimal, minValue: minValue(1)}
        },
        data() {
            return {
                id: '',
                name: '',
                salary: '',
                internalActivation: false
            }
        },
        created() {
            if (this.worker) {
                this.id = this.worker.id;
                this.name = this.worker.name;
                this.salary = this.worker.salary;
            }
        },
        methods: {
            close() {
                if (this.externalActivation) {
                    this.deactivate()
                } else {
                    this.internalActivation = false;
                }
            },
            save: function () {
                this.$v.$touch();

                if (this.$v.$invalid) {
                    return;
                }

                const worker = {
                    name: this.name,
                    salary: this.salary
                };

                if (this.id) {
                    const id = this.id;
                    worker.id = id;
                    this.$resource('/worker{/id}').update({id}, worker).then(result => {
                        result.json().then(data => {
                            const index = util.getIndex(this.workers, id);
                            this.workers.splice(index, 1, data);
                            this.id = '';
                            this.name = '';
                            this.salary = '';
                            this.$v.$reset();
                            this.close();
                        })
                    });
                } else {
                    let outlet = this.outletId;
                    this.$resource('/worker').save({'outlet': outlet}, worker).then(result => {
                        result.json().then(data => {
                            this.addWorker(data);
                            this.name = '';
                            this.salary = '';
                            this.$v.$reset();
                            this.close();
                        })
                    });
                }
            }
        },
        computed: {
            nameErrors() {
                const errors = [];
                if (!this.$v.name.$dirty) return errors;
                !this.$v.name.maxLength && errors.push('Name must be at most 60 characters long');
                !this.$v.name.required && errors.push('Name is required.');
                return errors;
            },
            salaryErrors() {
                const errors = [];
                if (!this.$v.salary.$dirty) return errors;
                !this.$v.salary.required && errors.push('This field is required.');
                !this.$v.salary.decimal && errors.push('Salary must be decimal');
                !this.$v.salary.minValue && errors.push('Salary must be positive');
                return errors;
            },
            dialog: {
                get() {
                    if (this.externalActivation) {
                        return this.externalActivation
                    } else {
                        return this.internalActivation;
                    }
                },
                set(newValue) {
                    if (!this.externalActivation) {
                        this.internalActivation = newValue;
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>