<template>
    <form>
        <v-layout row>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <template #activator="{ on }">
                    <v-btn v-if="activateBtn"  v-on="on">{{btnText}}</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить торговую точку</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container>
                            <v-col cols="12" sm="6" md="4">
                                <v-select :disabled="id !== ''"
                                        :items="types"
                                        label="Тип"
                                        placeholder="Нет типа"
                                        outlined
                                        v-model="type"
                                ></v-select>
                            </v-col>

                            <v-col>
                                <v-text-field
                                        class="mx-2"
                                        label="Name"
                                        placeholder="Название"
                                        v-model="name"
                                        required
                                        @input="$v.name.$touch()"
                                        @blur="$v.name.$touch()"
                                        :error-messages="nameErrors"
                                ></v-text-field>
                            </v-col>

                            <v-col>
                                <v-text-field
                                        class="mx-2"
                                        label="Размер"
                                        v-model="size"
                                        required
                                        @input="$v.size.$touch()"
                                        @blur="$v.size.$touch()"
                                        :error-messages="sizeErrors"
                                ></v-text-field>
                            </v-col>

                            <v-col>
                                <v-text-field
                                    class="mx-2"
                                    label="Плата за аренду"
                                    v-model="rentalFee"
                                    required
                                    @input="$v.rentalFee.$touch()"
                                    @blur="$v.rentalFee.$touch()"
                                    :error-messages="rentErrors"
                                    ></v-text-field>
                            </v-col>

                            <v-col>
                                <v-text-field
                                        class="mx-2"
                                        label="Плата за ЖКХ"
                                        v-model="utilityBills"
                                        @input="$v.utilityBills.$touch"
                                        @blur="$v.utilityBills.$touch"
                                        :error-messages="utilityBillsErrors"
                                ></v-text-field>
                            </v-col>

                            <v-col>
                                <v-text-field
                                        class="mx-2"
                                        label="Количество рабочих мест"
                                        v-model="workplacesCount"
                                        @input="$v.workplacesCount.$touch"
                                        @blur="$v.workplacesCount.$touch"
                                        :error-messages="workplacesCountErrors"
                                ></v-text-field>
                            </v-col>

                            <v-col v-if="type === 'Магазин' || type === 'Универмаг'">
                                <v-text-field
                                        class="mx-2"
                                        label="Количество залов"
                                        v-model="hallsCount"
                                        @input="$v.hallsCount.$touch"
                                        @blur="$v.hallsCount.$touch"
                                        :error-messages="hallsCountErrors"
                                ></v-text-field>
                            </v-col>

                            <v-col v-if="type === 'Универмаг'">
                                <v-text-field
                                        class="mx-2"
                                        label="Количество этажей"
                                        v-model="floorsCount"
                                        @input="$v.floorsCount.$touch"
                                        @blur="$v.floorsCount.$touch"
                                        :error-messages="floorsCountErrors"
                                ></v-text-field>
                            </v-col>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" @click="save" :disabled="$v.$invalid">Сохранить</v-btn>
                        <v-btn color="blue darken-1" @click="close">Закрыть</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </form>
</template>

<script>
    import {validationMixin} from 'vuelidate'
    import {required, maxLength, minValue, decimal, requiredIf, integer} from 'vuelidate/lib/validators'
    import util from '../../util/util'


    export default {
        props: [
            'outlets', 'outlet',
            'activateBtn', 'externalActivation',
            'deactivate', 'addOutlet',
            'btnText'
        ],
        mixins: [validationMixin],
        validations: {
            name: {required, maxLength: maxLength(60)},
            size: {required, decimal, minValue: minValue(1)},
            rentalFee: {required, decimal, minValue: minValue(1)},
            utilityBills: {required, decimal, minValue: minValue(1)},
            workplacesCount: {required, integer, minValue: minValue(1)},
            hallsCount: {requiredIf: requiredIf(v => v.type==='Магазин' || v.type === 'Универмаг'), integer, minValue: minValue(1)},
            floorsCount: {requiredIf: requiredIf(v => v.type==='Универмаг'), integer, minValue: minValue(1)}
        },
        data() {
            return {
                id: '',
                name: '',
                size: '',
                rentalFee: '',
                utilityBills: '',
                workplacesCount: '',
                hallsCount: '',
                floorsCount: '',
                type: '',
                types: ['Магазин', 'Киоск', 'Универмаг'],
                internalActivation: false
            }
        },
        created() {
            if (this.outlet && this.outlet.id) {
                this.id = this.outlet.id;
                this.name = this.outlet.name;
                this.size = this.outlet.size;
                this.rentalFee = this.outlet.rentalFee;
                this.utilityBills = this.outlet.utilityBills;
                this.workplacesCount = this.outlet.workplacesCount;
                this.hallsCount = this.outlet.hallsCount;
                this.floorsCount = this.outlet.floorsCount;
                this.type = this.outlet.type;
            }
        },
        watch: {
            outlet(newVal) {
                this.id = newVal.id;
                this.name = newVal.name;
                this.size = newVal.size;
                this.rentalFee = newVal.rentalFee;
                this.utilityBills = newVal.utilityBills;
                this.workplacesCount = newVal.workplacesCount;
                this.hallsCount = newVal.hallsCount;
                this.floorsCount = newVal.floorsCount;
                this.type = newVal.type;
            }
        },
        methods: {
            clearForm() {
                this.id = '';
                this.name = '';
                this.size = '';
                this.rentalFee = '';
                this.utilityBills = '';
                this.workplacesCount = '';
                this.hallsCount = '';
                this.floorsCount = '';
                this.type = '';
            },
            close() {
                if (this.externalActivation) {
                    this.deactivate()
                } else {
                    this.internalActivation = false;
                }
            },
            save() {
                this.close();

                const outlet = {
                    name: this.name,
                    size: this.size,
                    rentalFee: this.rentalFee,
                    utilityBills: this.utilityBills,
                    workplacesCount: this.workplacesCount
                };

                if (this.type === 'Магазин') {
                    outlet.hallsCount = this.hallsCount
                }

                if (this.type === 'Универмаг') {
                    outlet.hallsCount = this.hallsCount;
                    outlet.floorsCount = this.floorsCount;
                }

                let path = '/outlet';
                if (this.type === 'Магазин') {
                    path += '/shop';
                } else if (this.type === 'Универмаг') {
                    path += '/deptstore'
                } else if (this.type === 'Киоск') {
                    path += '/kiosk'
                }

                if (this.id) { // update
                    outlet.id = this.id;
                    const id = this.id;
                    this.$resource(path + '/{id}').update({id}, outlet).then(result => {
                        result.json().then(data => {
                            const index = util.getIndex(this.outlets, this.id);
                            this.outlets.splice(index, 1, data);

                            this.clearForm();
                        })
                    })
                } else { // save
                    console.log('Saving');
                    this.$resource(path + '/{id}').save({}, outlet).then(result => {
                        result.json().then(data => {
                            this.addOutlet(data);

                            this.clearForm();
                        })
                    })
                }
                this.$v.$reset();
            }
        },
        computed: {
            dialog: {
                get() {
                    if (this.externalActivation) {
                        return this.externalActivation
                    } else {
                        return this.internalActivation;
                    }
                },
                set(newValue) {
                    if (!this.externalActivation) {
                        this.internalActivation = newValue;
                    }
                }
            },
            nameErrors() {
                const errors = [];
                if (!this.$v.name.$dirty) return errors;
                !this.$v.name.maxLength && errors.push('Допустимо не больше 60 символов');
                !this.$v.name.required && errors.push('Это поле обязательно');
                return errors;
            },
            sizeErrors() {
                const errors = [];
                if (!this.$v.size.$dirty) return errors;
                !this.$v.size.required && errors.push('Это поле обязательно');
                !this.$v.size.decimal && errors.push('Значение должно быть числом');
                !this.$v.size.minValue && errors.push('Значение должно быть положительным');
                return errors;
            },
            rentErrors() {
                const errors = [];
                if (!this.$v.rentalFee.$dirty) return errors;
                !this.$v.rentalFee.required && errors.push('Это поле обязательно');
                !this.$v.rentalFee.decimal && errors.push('Значение должно быть числом');
                !this.$v.rentalFee.minValue && errors.push('Значение должно быть положительным');
                return errors;
            },
            utilityBillsErrors() {
                const errors = [];
                if (!this.$v.utilityBills.$dirty) return errors;
                !this.$v.utilityBills.required && errors.push('Это поле обязательно');
                !this.$v.utilityBills.decimal && errors.push('Значение должно быть числом');
                !this.$v.utilityBills.minValue && errors.push('Значение не может быть отрицательным');
                return errors;
            },
            workplacesCountErrors() {
                const errors = [];
                if (!this.$v.workplacesCount.$dirty) return errors;

                !this.$v.workplacesCount.required && errors.push('Это поле обязательно');
                !this.$v.workplacesCount.integer && errors.push('Значение должно быть целым числом');
                !this.$v.workplacesCount.minValue && errors.push('Значение не может быть отрицательным');

                return errors;
            },
            hallsCountErrors() {
                const errors = [];
                if (!this.$v.hallsCount.$dirty) return errors;

                !this.$v.hallsCount.requiredIf && errors.push('Это поле обязательно');
                !this.$v.hallsCount.integer && errors.push('Значение должно быть целым числом');
                !this.$v.hallsCount.minValue && errors.push('Значение не может быть отрицательным');

                return errors;
            },
            floorsCountErrors() {
                const errors = [];
                if (!this.$v.floorsCount.$dirty) return errors;

                !this.$v.floorsCount.requiredIf && errors.push('Это поле обязательно');
                !this.$v.floorsCount.integer && errors.push('Значение должно быть целым числом');
                !this.$v.floorsCount.minValue && errors.push('Значение не может быть отрицательным');

                return errors;
            }
        }
    }
</script>

<style>

</style>