<template>
    <v-expansion-panel>
        <v-expansion-panel-header>
            <v-col cols="1"><i>({{outlet.id}})</i></v-col>
            {{ outlet.name }}
        </v-expansion-panel-header>
        <v-expansion-panel-content>
            <v-layout column class="mb-3">
                <v-row class="ml-2" v-if="outlet.type">
                    <b class="mr-1">Тип: </b>{{outlet.type}}
                </v-row>
                <v-row class="ml-2"><b class="mr-1">Размер: </b>{{outlet.size}}</v-row>
                <v-row class="ml-2"><b class="mr-1">Арендная плата: </b>{{outlet.rentalFee}}</v-row>
                <v-row class="ml-2"><b class="mr-1">Плата за ЖКХ: </b>{{outlet.utilityBills}}</v-row>
                <v-row class="ml-2"><b class="mr-1">Кол-во рабочих мест: </b>{{outlet.workplacesCount}}</v-row>
                <v-row class="ml-2" v-if="outlet.type === 'Магазин' || outlet.type === 'Универмаг'">
                    <b class="mr-1">Кол-во залов: </b>{{outlet.hallsCount}}
                </v-row>
                <v-row class="ml-2" v-if="outlet.type === 'Универмаг'">
                    <b class="mr-1">Кол-во этажей: </b>{{outlet.floorsCount}}
                </v-row>
                <v-row class="ml-2">
                    <b class="mr-1">Кол-во работников: </b>
                    {{this.workersCount}}
                    <v-btn depressed small class="mx-2" @click="listWorkers">Список</v-btn>
                </v-row>

                <v-row class="ml-2">
                    <b class="mr-1">Выработка на одного продавца: </b>{{output}}
                </v-row>
                <v-row class="ml-2">
                    <b class="mr-1">Суммарная зарплата продавцов: </b>{{totalSalary}}
                </v-row>
                <v-row class="ml-2">
                    <b class="mr-1">Рентабельность: </b>{{efficiency}}
                </v-row>
            </v-layout>

            <v-row class="ml-3">
                <v-col cols="2">
                    <outlet-form :outlets="outlets"
                                 :outlet="outlet"
                                 btnText="Изменить"
                                 :activate-btn="true"
                    ></outlet-form>
                </v-col>
                <v-col cols="1">
                    <v-btn icon color="#ff6347" @click="del" small>
                        <v-icon>{{deleteIcon}}</v-icon>
                    </v-btn>
                </v-col>
            </v-row>


            <v-col>
                <v-btn small @click="showProducts">Список продуктов</v-btn>
            </v-col>
        </v-expansion-panel-content>
    </v-expansion-panel>
</template>

<script>
    import {mdiDelete} from '@mdi/js'
    import OutletForm from "./OutletForm.vue";

    export default {
        props: ['outlet', 'outlets', 'editOutlet', 'deleteOutlet'],
        components: {OutletForm},
        data() {
            return {
                deleteIcon: mdiDelete,
                workersCount: '',
                output: 0,
                efficiency: 0,
                totalSalary: 0
            }
        },
        methods: {
            edit() {
                this.editOutlet(this.outlet)
            },
            del() {
                this.deleteOutlet(this.outlet)
            },
            listWorkers() {
                const outlet_id = this.outlet.id;
                this.$router.push({ path: `/w/${outlet_id}`})
            },
            showDeals() {
                const outlet_id = this.outlet.id;
                this.$router.push({path: `/d/${outlet_id}`});
            },
            showProducts() {
                const outlet_id = this.outlet.id;
                this.$router.push({path: `/prod/${outlet_id}`, query: {ownerType: 'outlet'}});
            }
        },
        created() {
            this.$resource('/outlet/output').get({'outlet_id': this.outlet.id}).then(result => {
                result.json().then(data => this.output = data.toFixed(2));
            });

            this.$resource('/outlet/efficiency').get({'outlet_id': this.outlet.id}).then(result => {
                result.json().then(data => this.efficiency = data.toFixed(2));
            });

            this.$resource('/worker/count/').get({'outlet_id': this.outlet.id}).then(result => {
                result.json().then(data => {
                    this.workersCount = data;
                })
            });

            this.$resource('/outlet/totalsalary').get({'outlet_id': this.outlet.id}).then(result => {
                result.json().then(data => this.totalSalary = data.toFixed(2));
            });
        }
    }
</script>

<style>

</style>