<template>
    <v-form v-model="valid">
        <v-layout class="my-5" row justify-center>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <template #activator="{ on }">
                    <v-btn v-if="activateBtn" v-on="on">{{btnText}}</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить информацию о покупателе</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container>
                            <v-col>
                                <v-text-field
                                        class="mx-2"
                                        label="Имя"
                                        v-model="name"
                                        required
                                        @input="$v.name.$touch()"
                                        @blur="$v.name.$touch()"
                                        :error-messages="nameErrors"
                                ></v-text-field>
                            </v-col>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" @click="save" :disabled="$v.$invalid">Сохранить</v-btn>
                        <v-btn color="blue darken-1" @click="close">Закрыть</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-form>
</template>

<script>
    import {validationMixin} from "vuelidate";
    import {maxLength, required} from "vuelidate/lib/validators";

    export default {
        name: "CustomerForm",
        props: [
            'addCustomer', 'btnText',
            'activateBtn', 'externalActivation',
            'deactivate', 'customer', 'editCustomer'
        ],
        mixins: [validationMixin],
        validations: {
            name: {required, maxLength: maxLength(60)},
        },
        data() {
            return {
                id: '',
                name: '',
                internalActivation: false
            }
        },
        mounted() {
            if (this.customer) {
                this.id = this.customer.id;
                this.name = this.customer.name;
            }
        },
        methods: {
            close() {
                if (this.externalActivation) {
                    this.deactivate()
                } else {
                    this.internalActivation = false;
                }
            },
            save: function () {
                this.close();

                const customer = {
                    name: this.name
                };

                if (this.id) {
                    customer.id = this.id;
                    const id = customer.id;
                    this.$resource('/customer{/id}').update({id}, customer).then(result => {
                        result.json().then(data => {
                            this.editCustomer(data);
                            this.name = '';
                            this.id = '';
                        })
                    })
                } else {
                    this.$resource('/customer').save({}, customer).then(result => {
                        result.json().then(data => {
                            this.addCustomer(data);
                            this.name = '';
                        })
                    })
                }
            }
        },
        computed: {
            nameErrors() {
                const errors = [];
                if (!this.$v.name.$dirty) return errors;
                !this.$v.name.maxLength && errors.push('Название должно быть короче 60 символов');
                !this.$v.name.required && errors.push('Это поле обязательно');
                return errors;
            },
            dialog: {
                get() {
                    if (this.externalActivation) {
                        return this.externalActivation
                    } else {
                        return this.internalActivation;
                    }
                },
                set(newValue) {
                    if (!this.externalActivation) {
                        this.internalActivation = newValue;
                    }
                }
            },
        }
    }
</script>

<style scoped>

</style>