<template>
    <v-card>
        <v-card-title>
            <v-row>
                <v-col cols="1"><i>({{customer.id}})</i></v-col>
                <v-col>
                    {{ customer.name }}
                </v-col>
                <v-col cols="1">
                    <v-btn icon @click="dialog = true">
                        <v-icon>{{editIcon}}</v-icon>
                    </v-btn>
                </v-col>
                <v-col cols="1">
                    <v-btn icon @click="del(customer)">
                        <v-icon>{{delIcon}}</v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-card-title>
        <v-card-text>
            <customer-form :customer="customer"
                           :activate-btn="false"
                           :external-activation="dialog"
                           :deactivate="deactivateDialog"
                           :edit-customer="edit"
            ></customer-form>

        </v-card-text>
    </v-card>

</template>

<script>
    import CustomerForm from "./CustomerForm.vue";
    import {mdiCircleEditOutline, mdiDeleteCircleOutline} from '@mdi/js'

    export default {
        name: "CustomerItem",
        props: ['customer', 'edit', 'del'],
        components: {CustomerForm},
        data() {
            return {
                editIcon: mdiCircleEditOutline,
                delIcon: mdiDeleteCircleOutline,
                dialog: false,
            }
        },
        methods: {
            deactivateDialog() {
                this.dialog = false;
            }
        }
    }
</script>

<style scoped>

</style>