<template>
    <form>
        <v-layout class="my-5" row justify-center>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <template #activator="{ on }">
                    <v-btn v-if="activateBtn" color="primary" v-on="on">{{btnText}}</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить информацию о поставщике</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container>
                            <v-col>
                                <v-text-field
                                        class="mx-2"
                                        label="Название"
                                        v-model="name"
                                        required
                                        @input="$v.name.$touch()"
                                        @blur="$v.name.$touch()"
                                        :error-messages="nameErrors"
                                ></v-text-field>
                            </v-col>

                            <v-col>
                                <v-textarea
                                        class="mx-2"
                                        label="Описание"
                                        placeholder="Краткое описание поставщика"
                                        v-model="description"
                                        required
                                        @input="$v.description.$touch()"
                                        @blur="$v.description.$touch()"
                                        :error-messages="descriptionErrors"
                                ></v-textarea>
                            </v-col>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" @click="save" :disabled="$v.$invalid">Сохранить</v-btn>
                        <v-btn color="blue darken-1" @click="close">Закрыть</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </form>
</template>

<script>
    import 'util/util'
    import {maxLength, required} from "vuelidate/lib/validators";
    import {validationMixin} from "vuelidate";

    export default {
        props: [
            'providers', 'providersAttr',
            'updateData', 'btnText',
            'activateBtn', 'externalActivation',
            'deactivate', 'provider', 'editProvider'
        ],
        mixins: [validationMixin],
        validations: {
            name: {required, maxLength: maxLength(60)},
            description: {required, maxLength: maxLength(255)},
        },
        data() {
            return {
                id: '',
                name: '',
                description: '',
                internalActivation: false
            }
        },
        mounted() {
            if (this.provider) {
                this.id = this.provider.id;
                this.name = this.provider.name;
                this.description = this.provider.description;
            }
        },
        methods: {
            close() {
                if (this.externalActivation) {
                    this.deactivate()
                } else {
                    this.internalActivation = false;
                }
            },
            save: function () {
                this.close();

                const provider = {
                    name: this.name,
                    description: this.description
                };


                if (this.id) {
                    provider.id = this.id;
                    const id = provider.id;
                    this.$resource('/provider{/id}').update({id}, provider).then(result => {
                        result.json().then(data => {
                            this.editProvider(data);
                            this.name = '';
                            this.description = '';
                            this.id = '';
                        })
                    })
                } else {
                    this.updateData();
                    this.$resource('/provider/{id}').save({}, provider).then(result => {
                        result.json().then(data => {
                            this.providers.push(data);
                            this.name = '';
                            this.description = '';
                        })
                    })
                }
            }
        },
        computed: {
            nameErrors() {
                const errors = [];
                if (!this.$v.name.$dirty) return errors;
                !this.$v.name.maxLength && errors.push('Название должно быть короче 60 символов');
                !this.$v.name.required && errors.push('Это поле обязательно');
                return errors;
            },
            descriptionErrors() {
                const errors = [];
                if (!this.$v.description.$dirty) return errors;
                !this.$v.description.maxLength && errors.push('Название должно быть короче 255 символов');
                !this.$v.description.required && errors.push('Это поле обязательно');
                return errors;
            },
            dialog: {
                get() {
                    if (this.externalActivation) {
                        return this.externalActivation
                    } else {
                        return this.internalActivation;
                    }
                },
                set(newValue) {
                    if (!this.externalActivation) {
                        this.internalActivation = newValue;
                    }
                }
            },
        }
    }
</script>

<style>

</style>