<template>
    <v-expansion-panel>
        <v-expansion-panel-header>
            <v-col cols="1"><i>({{provider.id}})</i></v-col>
            {{ provider.name }}
        </v-expansion-panel-header>

        <v-expansion-panel-content>
            <v-layout column>
                <div>{{provider.description}}</div>
                <v-spacer></v-spacer>

                <v-row>
                    <v-col>
                        <v-btn small @click="select">Оформить заказ</v-btn>
                    </v-col>
                    <v-col cols="1">
                        <v-btn icon @click="dialog = true">
                            <v-icon>{{editIcon}}</v-icon>
                        </v-btn>
                    </v-col>
                    <v-col cols="1">
                        <v-btn icon @click="del(provider)">
                            <v-icon>{{delIcon}}</v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-layout>

            <provider-form :provider="provider"
                           :activate-btn="false"
                           :external-activation="dialog"
                           :deactivate="deactivateDialog"
                           :edit-provider="edit"
            ></provider-form>

        </v-expansion-panel-content>
    </v-expansion-panel>
</template>

<script>
    import ProviderForm from "./ProviderForm.vue";
    import {mdiCircleEditOutline, mdiDeleteCircleOutline} from "@mdi/js";

    export default {
        name: "ProviderRow",
        components: {ProviderForm},
        props: ['provider', 'edit', 'del'],
        data() {
            return {
                editIcon: mdiCircleEditOutline,
                delIcon: mdiDeleteCircleOutline,
                dialog: false,
            }
        },
        methods: {
            select() {
                const provider_id = this.provider.id;
                this.$router.push({path: `/prod/${provider_id}`, query: {ownerType: 'provider'}})
            },
            deactivateDialog() {
                this.dialog = false;
            }
        }
    }
</script>

<style scoped>

</style>