<template>
    <v-layout row justify-space-around>
        <v-col>
            <v-text-field
                    label="Поиск по товару"
                    placeholder="Название товара"
                    v-model="filterText"
            ></v-text-field>
        </v-col>

        <v-col>
            <v-btn color="primary" @click="getFilteredList">Найти</v-btn>
        </v-col>
    </v-layout>
</template>

<script>
    export default {
        name: "SearchForm",
        props: ['resourcePath', 'updateData'],
        data() {
            return {
                filterText: ''
            }
        },
        methods: {
            getFilteredList() {
                if (this.filterText === '') {
                    this.updateData()
                } else {
                    this.$resource(this.resourcePath).get({filter: this.filterText}).then(result => {
                        result.json().then(data => {
                            this.updateData(data, this.filterText);
                            this.filterText = '';
                        })
                    })
                }
            }
        }
    }
</script>

<style scoped>

</style>