<template>
    <form>
        <v-layout class="my-5" row justify-center>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <template #activator="{ on }">
                    <v-btn color="primary" v-on="on" :disabled="disable">Оформить покупку</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">Подтвердить покупку</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container>
                            <v-row v-if="isOutletSeller">
                                <v-col>
                                    <v-select
                                            class="mx-2"
                                            label="Продавец"
                                            placeholder="Кто продавец?"
                                            :items="sellerNames"
                                            v-model="seller"
                                            required
                                            @select="$v.seller.$touch()"
                                            @blur="$v.seller.$touch()"
                                            :error-messages="sellerErrors"
                                    ></v-select>
                                </v-col>

                                <v-col>
                                    <v-btn class="mx-2" icon color="blue darken-1" @click="sellerDialog = true">
                                        <v-icon>
                                            {{plusIcon}}
                                        </v-icon>
                                    </v-btn>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-select
                                            class="mx-2"
                                            label="Покупатель"
                                            placeholder="Кто покупатель?"
                                            :items="buyerNames"
                                            v-model="buyer"
                                            required
                                            @select="$v.buyer.$touch()"
                                            @blur="$v.buyer.$touch()"
                                            :error-messages="buyerErrors"
                                    ></v-select>
                                </v-col>
                                <v-col>
                                    <v-btn class="mx-2" icon color="blue darken-1" @click="buyerDialog = true">
                                        <v-icon>
                                            {{plusIcon}}
                                        </v-icon>
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn color="blue darken-1" @click="complete()" :disabled="$v.$invalid">Ок</v-btn>

                        <v-btn color="blue darken-1" @click="dialog = false">Закрыть</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <outlet-form v-if="!isOutletSeller"
                         :activate-btn="false"
                         :external-activation="buyerDialog"
                         :deactivate="deactivateBuyerDialog"
                         :add-outlet="addBuyer"
            ></outlet-form>

            <customer-form v-if="isOutletSeller"
                           :activate-btn="false"
                           :external-activation="buyerDialog"
                           :deactivate="deactivateBuyerDialog"
                           :add-customer="addBuyer"
            ></customer-form>

            <worker-form v-if="isOutletSeller"
                         :activate-btn="false"
                         :external-activation="sellerDialog"
                         :deactivate="deactivateSellerDialog"
                         :add-worker="addSeller"
                         :outlet-id="owner_id"
            ></worker-form>


        </v-layout>
    </form>
</template>

<script>
    import 'util/util'
    import OutletForm from 'components/outlets/OutletForm.vue'
    import {validationMixin} from "vuelidate";
    import {required, requiredIf} from "vuelidate/lib/validators";
    import CustomerForm from "../customers/CustomerForm.vue";
    import {mdiPlus} from '@mdi/js'
    import WorkerForm from "../workers/WorkerForm.vue";

    export default {
        components: {WorkerForm, CustomerForm, OutletForm},
        props: ['owner_id', 'confirmOrder', 'disable', 'buyersPath', 'isOutletSeller'],
        mixins: [validationMixin],
        validations: {
            buyer: {required},
            seller: {requiredIf: requiredIf(v => v.isOutletSeller)}
        },
        data() {
            return {
                plusIcon: mdiPlus,
                buyer: '',
                seller: '',
                dialog: false,
                buyerDialog: false,
                sellerDialog: false,
                buyers: new Map(),
                buyerNames: [],
                sellers: new Map(),
                sellerNames: []
            }
        },
        methods: {
            addBuyer(o) {
                this.buyers.set(o.name, o.id);
                this.buyerNames.push(o.name);
            },
            deactivateBuyerDialog() {
                this.buyerDialog = false;
            },
            addSeller(o) {
                this.sellers.set(o.name, o.id);
                this.sellerNames.push(o.name);
            },
            deactivateSellerDialog() {
                this.sellerDialog = false;
            },
            complete() {
                this.dialog = false;
                this.confirmOrder(this.buyers.get(this.buyer), this.sellers.get(this.seller));
                this.buyer = ''
            }
        },
        created() {
            if (this.isOutletSeller) {
                this.$resource('/worker').get({outlet_id: this.owner_id}).then(result => {
                    result.json().then(data => {
                        data.forEach(s => {
                            this.sellers.set(s.name, s.id);
                            this.sellerNames.push(s.name);
                        });
                    })
                })
            }
            this.$resource(this.buyersPath).get({}).then(result => {
                result.json().then(data => {
                    data.forEach(o => {
                        this.buyers.set(o.name, o.id);
                        this.buyerNames.push(o.name);
                    });
                })
            })
        },
        computed: {
            buyerErrors() {
                const errors = [];
                if (!this.$v.buyer.$dirty) return errors;
                !this.$v.buyer.required && errors.push('Это поле обязательно');
                return errors;
            },
            sellerErrors() {
                const errors = [];
                if (!this.$v.seller.$dirty) return errors;
                !this.$v.seller.requiredIf && errors.push('Это поле обязательно');
                return errors;
            }
        }
    }
</script>

<style>

</style>