<template>
    <form>
        <v-layout class="my-5" row justify-center>
            <v-dialog v-model="dialog" persistent max-width="600px">
                <template #activator="{ on }">
                    <v-btn color="primary" dark v-on="on">Добавить товар</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить товар</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container>
                            <v-col>
                                <v-text-field
                                        class="mx-2"
                                        label="Название товара"
                                        v-model="name"
                                        required
                                        @input="$v.name.$touch()"
                                        @blur="$v.name.$touch()"
                                        :error-messages="nameErrors"
                                ></v-text-field>
                            </v-col>

                            <v-col>
                                <v-text-field
                                        class="mx-2"
                                        label="Количество"
                                        v-model="quantity"
                                        required
                                        @input="$v.quantity.$touch()"
                                        @blur="$v.quantity.$touch()"
                                        :error-messages="quantityErrors"
                                ></v-text-field>
                            </v-col>

                            <v-col>
                                <v-text-field
                                        class="mx-2"
                                        label="Цена за шт."
                                        v-model="unitPrice"
                                        required
                                        @input="$v.unitPrice.$touch()"
                                        @blur="$v.unitPrice.$touch()"
                                        :error-messages="unitPriceErrors"
                                ></v-text-field>
                            </v-col>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" @click="save" :disabled="$v.$invalid">Сохранить</v-btn>
                        <v-btn color="blue darken-1" @click="dialog = false">Закрыть</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </form>
</template>

<script>
    import {validationMixin} from "vuelidate";
    import {decimal, maxLength, minValue, required, integer} from "vuelidate/lib/validators";

    export default {
        name: "ProductForm",
        props: ['owner_id', 'addToList'],
        mixins: [validationMixin],
        validations: {
            name: {required, maxLength: maxLength(60)},
            quantity: {required, integer, minValue: minValue(1)},
            unitPrice: {required, decimal, minValue: minValue(1)}
        },
        data() {
            return {
                name: '',
                quantity: '',
                unitPrice: '',
                dialog: false
            }
        },
        methods: {
            save: function () {
                this.dialog = false;

                const product = {
                    name: this.name,
                    quantity: this.quantity,
                    unitPrice: this.unitPrice
                };


                this.$resource('/product{/id}').save({'owner_id': this.owner_id}, product).then(result => {
                    result.json().then(data => {
                        this.addToList(data);
                        this.name = '';
                        this.quantity = '';
                        this.unitPrice = '';
                    })
                })
            }
        },
        computed: {
            nameErrors() {
                const errors = [];
                if (!this.$v.name.$dirty) return errors;
                !this.$v.name.maxLength && errors.push('Название должно быть короче 60 символов');
                !this.$v.name.required && errors.push('Это поле обязательно');
                return errors;
            },
            quantityErrors() {
                const errors = [];
                if (!this.$v.quantity.$dirty) return errors;
                !this.$v.quantity.required && errors.push('Это поле обязательно');
                !this.$v.quantity.integer && errors.push('Значение должно быть целым числом');
                !this.$v.quantity.minValue && errors.push('Значение должно быть положительным');
                return errors;
            },
            unitPriceErrors() {
                const errors = [];
                if (!this.$v.unitPrice.$dirty) return errors;
                !this.$v.unitPrice.required && errors.push('Это поле обязательно');
                !this.$v.unitPrice.decimal && errors.push('Значение должно быть числом');
                !this.$v.unitPrice.minValue && errors.push('Значение должно быть положительным');
                return errors;
            }
        }

    }
</script>

<style scoped>

</style>