<template>
    <v-card class="my-2">
        <v-card-title>
            <v-col cols="1"><i>({{displayedProduct.id}})</i></v-col>
            <v-col>{{ displayedProduct.name }}</v-col>
        </v-card-title>

        <v-card-text>
            <v-container>
                <v-col>
                    В наличии: {{displayedProduct.quantity}}
                </v-col>
                <v-col>
                    Цена за шт.: {{displayedProduct.unitPrice}}
                </v-col>

                <form>
                    <v-col cols="3">

                        <v-text-field
                                label="Количество"
                                v-model="order_count"
                                required
                                @input="$v.order_count.$touch()"
                                @blur="$v.order_count.$touch()"
                                :error-messages="orderCountErrors"
                        ></v-text-field>
                    </v-col>

                    <v-col>
                        <v-btn @click="save" :disabled="$v.$invalid">Сохранить</v-btn>
                    </v-col>
                </form>
            </v-container>
        </v-card-text>
    </v-card>
</template>

<script>
    import {validationMixin} from "vuelidate";
    import {integer, maxValue, minValue, required} from "vuelidate/lib/validators";

    export default {
        name: "ProductRow",
        props: ['product', 'addProduct'],
        mixins: [validationMixin],
        validations() {
            return {
                order_count: {
                    required,
                    integer,
                    minValue: minValue(0),
                    maxValue: maxValue(this.maxQty)
                }
            }
        },
        data() {
            return {
                order_count: 0,
                displayedProduct: this.product,
                maxQty: this.product.quantity
            }
        },
        watch: {
            product(newVal) {
                this.displayedProduct = newVal
            }
        },
        methods: {
            save() {
                this.addProduct(this.product, this.order_count);
                this.order_count = 0;
            }
        },
        computed: {
            orderCountErrors() {
                const errors = [];
                if (!this.$v.order_count.$dirty) return errors;
                !this.$v.order_count.required && errors.push('Это поле обязательно');
                !this.$v.order_count.integer && errors.push('Значение должно быть целым числом');
                !this.$v.order_count.minValue && errors.push('Значение не может быть отрицательным');
                !this.$v.order_count.maxValue && errors.push('Значение не может быть больше доступного');

                return errors;
            }
        }
    }
</script>

<style scoped>

</style>