<template>
    <v-app>
        <v-app-bar app>
            <v-toolbar-title>Trading organisation</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn @click="showOutlets">Торговые точки</v-btn>
                <v-btn @click="showProviders">Поставщики</v-btn>
                <v-btn @click="showDeals">Сделки</v-btn>
                <v-btn @click="showCustomers">Покупатели</v-btn>
            </v-toolbar-items>
        </v-app-bar>
        <v-content>
            <router-view></router-view>
        </v-content>
    </v-app>

</template>

<script>

    export default {
        data() {
            return {
                outlets: []
            }
        },
        methods: {
            showOutlets() {
                this.$router.push({path: '/'})
            },
            showProviders() {
                this.$router.push({path: '/p', query: { size: '5', page:'0'}})
            },
            showDeals() {
                this.$router.push({path: '/d'})
            },
            showCustomers() {
                this.$router.push({path: '/c'})
            }
        }
    }
</script>

<style>
</style>