<template>
    <v-container>
        <v-layout column>
            <search-form resource-path="/customer/filter" :update-data="updateData"></search-form>
            <v-row>
                <v-col cols="3">
                    <v-btn @click="getMostActive">
                        Сортировать по активности
                    </v-btn>
                </v-col>
                <v-col cols="2">
                    <v-btn @click="updateData()">Сбросить</v-btn>
                </v-col>
            </v-row>

            <customer-form :customer="customer"
                           :customers="customers"
                           :addCustomer="addCustomer"
                           btnText="Создать"
                           :activateBtn="true"
            ></customer-form>
            <v-layout column class="my-5">
                <customer-item v-for="customer in this.customers" v-bind:key="customer.id"
                               :customer="customer"
                               :edit="editCustomer"
                               :del="delCustomer"
                />
            </v-layout>
        </v-layout>
    </v-container>
</template>

<script>
    import SearchForm from "components/SearchForm.vue";
    import CustomerForm from "components/customers/CustomerForm.vue";
    import CustomerItem from "components/customers/CustomerItem.vue";
    import util from "../util/util";

    export default {
        name: "CustomersPage",
        components: {CustomerItem, CustomerForm, SearchForm},
        data() {
            return {
                customers: [],
                filter: '',
                customer: {}
            }
        },
        created() {
            this.updateData();
        },
        methods: {
            updateData(newData, filter) {
                this.filter = filter;
                if (newData) {
                    this.customers = newData;
                } else {
                    this.$resource('/customer').get({}).then(result => {
                        result.json().then(data => {
                            this.customers = [];
                            data.forEach(c => this.customers.push(c));
                        })
                    });
                }
            },
            addCustomer(customer) {
                this.customers.push(customer);
            },
            editCustomer(customer) {
                const index = util.getIndex(this.customers, customer.id);
                this.customers.splice(index, 1, customer);
            },
            delCustomer(customer) {
                const id = customer.id;
                this.$resource('/customer{/id}').delete({id}).then(result => {
                    this.customers.splice(this.customers.indexOf(customer), 1)
                })
            },
            getMostActive() {
                this.$resource('/customer/active').get({}).then(result => {
                    result.json().then(data => {
                        this.customers = [];
                        data.forEach(c => this.customers.push(c));
                    })
                });
            }
        }
    }
</script>

<style scoped>

</style>