<template>
    <v-container>
        <v-expansion-panels class="mb-5">
            <v-expansion-panel>
                <v-expansion-panel-header>
                    Панель фильтров
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-row>
                        <v-col>
                            <v-select
                                    class="mx-2"
                                    label="Торговая точка"
                                    placeholder="Показать для"
                                    :items="outletNames"
                                    v-model="outlet"
                                    @input="filterByOutlet"
                            ></v-select>
                        </v-col>
                        <v-col>
                            <v-btn small @click="clearOutletFilter">Очистить фильтр</v-btn>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="2">Показать:</v-col>
                        <v-col cols="1">
                            <v-btn small @click="filterIncome">Доходы</v-btn>
                        </v-col>
                        <v-col cols="1">
                            <v-btn small @click="filterExpense">Расходы</v-btn>
                        </v-col>
                        <v-col cols="1">
                            <v-btn small @click="clearInOutFilter">Все</v-btn>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="2">
                            Фильтр по дате:
                        </v-col>
                        <v-col cols="2">
                            <v-menu v-model="dialogDateFrom" max-width="290px">
                                <template #activator="{ on }">
                                    <v-text-field single-line v-model="dateFrom" readonly v-on="on"></v-text-field>
                                </template>
                                <v-date-picker v-model="dateFrom"></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="2">
                            <v-menu v-model="dialogDateTo" max-width="290px">
                                <template #activator="{ on }">
                                    <v-text-field v-model="dateTo" readonly v-on="on"></v-text-field>
                                </template>
                                <v-date-picker v-model="dateTo"></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col>
                            <v-btn small @click="megaFilter">Применить</v-btn>
                        </v-col>
                    </v-row>

                    <v-divider></v-divider>

                    <v-row>
                        <v-col cols="2">
                            Фильтр по продавцу:
                        </v-col>
                        <v-col cols="2">
                            <v-text-field v-model="seller" label="ID продавца"></v-text-field>
                        </v-col>
                        <v-col cols="1">
                            <v-btn small @click="filterBySeller">Применить</v-btn>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="2">
                            Фильтр по покупателю:
                        </v-col>
                        <v-col cols="2">
                            <v-text-field v-model="buyer" label="ID покупателя"></v-text-field>
                        </v-col>
                        <v-col cols="1">
                            <v-btn small @click="filterByBuyer">Применить</v-btn>
                        </v-col>
                    </v-row>

                    <v-row class="my-2">
                        <v-col>
                            <v-btn small color="primary" @click="clearFilters">Очистить все фильтры</v-btn>
                        </v-col>
                        <v-col>
                            <v-select v-model="sortParam" :items="['ID', 'Продавец', 'Покупатель', 'Дата']"
                                      @input="setData(getTotalParams())"
                                      label="Сортировать по"></v-select>
                        </v-col>
                        <v-col>
                            <v-select v-model="sortOrder" :items="['По возрастанию', 'По убыванию']"
                                      @input="setData(getTotalParams())"
                                      label="Порядок"></v-select>
                        </v-col>
                    </v-row>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>


        <v-divider></v-divider>
        <v-row>
            <v-col cols="2">
                Доходы: {{c_income}}
            </v-col>
            <v-col cols="2">
                Расходы: {{c_expense}}
            </v-col>
        </v-row>

        <div class="text-center">
            <v-pagination
                    v-model="pageNo"
                    :length="totalPages"
                    @input="switchPage"
            ></v-pagination>
        </div>

        <v-layout column>
            <deal-item v-for="deal in deals" v-bind:key="deal.id"
                       :deal="deal"
            ></deal-item>
        </v-layout>
    </v-container>
</template>

<script>
    import DealItem from "../components/deals/DealItem.vue";

    export default {
        name: "DealsPage",
        components: {DealItem},
        props: ['outletId'],
        data() {
            return {
                deals: [],
                expense: 0,
                income: 0,
                outletNames: [],
                outlets: new Map(),
                outlet: '',
                dateFrom: '',
                dateTo: '',
                dialogDateFrom: false,
                dialogDateTo: false,
                pageNo: 1,
                totalPages: 1,
                seller: '',
                buyer: '',
                sortParam: 'ID',
                sortOrder: 'По возрастанию'
            }
        },
        created() {
            this.$resource('/outlet').get({}).then(result => {
                result.json().then(data => {
                    data.forEach(o => {
                        this.outlets.set(o.name, o.id);
                        this.outletNames.push(o.name);
                    });
                })
            });
            this.switchPage();

            this.$resource('deal/expense').get({}).then(result => {
                result.json().then(data => {
                    this.expense = data;
                })
            });

            this.$resource('deal/income').get({}).then(result => {
                result.json().then(data => {
                    this.income = data;
                });
            });
        },
        methods: {
            setData(params) {
                this.$resource('deal/expense').get(params).then(result => {
                    result.json().then(data => {
                        this.expense = data;
                    })
                });

                this.$resource('deal/income').get(params).then(result => {
                    result.json().then(data => {
                        this.income = data;
                    });
                });

                params.page = 0;
                this.pageNo = 1;
                this.deals = [];
                this.$resource('/deal').get(params).then(result => {
                    result.json().then(data => {
                        data.content.forEach(d => this.deals.push(d));
                        this.totalPages = data.totalPages;
                    })
                });
            },
            filterByOutlet() {
                let params = this.getTotalParams();
                params.outlet_id = this.outlets.get(this.outlet);

                this.setData(params);
            },
            clearOutletFilter() {
                let params = this.getTotalParams();
                params.outlet_id = undefined;
                this.setData(params);
                this.outlet = "";
            },
            filterIncome() {
                let params = this.getTotalParams();
                params.filter = "income";
                this.setData(params)
            },
            filterExpense() {
                let params = this.getTotalParams();
                params.filter = "expense";
                this.setData(params)
            },
            clearInOutFilter() {
                let params = this.getTotalParams();
                this.setData(params);
            },
            megaFilter() {
                let params = this.getTotalParams();
                this.setData(params);
            },
            getTotalParams() {
                let params = {page: 1, size: 5};
                if (this.outlet) {
                    params.outlet_id = this.outlets.get(this.outlet);
                }
                if (this.dateFrom) {
                    params.dateFrom = this.dateFrom + ' 00:00:00';
                }

                if (this.dateTo) {
                    params.dateTo = this.dateTo + ' 00:00:00';
                }

                switch (this.sortParam) {
                    case "ID":
                        params.sortParam = 'id';
                        break;
                    case 'Продавец':
                        params.sortParam = 'seller';
                        break;
                    case 'Покупатель':
                        params.sortParam = 'buyer';
                        break;
                    case 'Дата':
                        params.sortParam = 'time';
                        break;
                }

                switch (this.sortOrder) {
                    case "По возрастанию":
                        params.sortOrder = 'asc';
                        break;
                    case 'По убыванию':
                        params.sortOrder = 'desc';
                        break;
                }
                return params;
            },
            switchPage() {
                let params = this.getTotalParams();
                if (this.size) {
                    params.size = this.size;
                } else {
                    params.size = 5;
                }

                params.page = this.pageNo - 1;

                let path = '/deal';

                this.$resource(path).get(params).then(result => {
                    result.json().then(data => {
                        this.deals = [];
                        data.content.forEach(d => this.deals.push(d));
                        this.totalPages = data.totalPages;
                    })
                });
            },
            filterBySeller() {
                let params = this.getTotalParams();
                params.seller_id = this.seller;
                this.setData(params);
            },
            filterByBuyer() {
                let params = this.getTotalParams();
                params.buyer_id = this.buyer;
                this.setData(params);
            },
            clearFilters() {
                this.outlet = '';
                this.seller = '';
                this.buyer = '';
                this.dateFrom = '';
                this.dateTo = '';

                this.setData(this.getTotalParams())
            }
        },
        computed: {
            c_income() {
                return this.income.toFixed(2);
            },
            c_expense() {
                return this.expense.toFixed(2);
            }
        }
    }
</script>

<style scoped>

</style>