<template>
    <v-container>
        <v-layout column>
            <v-layout justify-center>
                <outlet-form
                        class="my-5"
                        :outlets="this.outlets"
                        :activate-btn="true"
                        :add-outlet="addOutlet"
                        :outlet="outlet"
                        btnText="Добавить"

                />
            </v-layout>
            <v-expansion-panels>
                <outlet-row v-for="outlet in this.outlets" v-bind:key="outlet.id"
                            :outlet="outlet"
                            :editOutlet="editOutlet"
                            :deleteOutlet="deleteOutlet"
                            :outlets="outlets"
                />
            </v-expansion-panels>
        </v-layout>
    </v-container>
</template>

<script>
    import OutletForm from 'components/outlets/OutletForm.vue'
    import OutletRow from 'components/outlets/OutletRow.vue'

    import outlets from 'api/outlets'

    export default {
        components: {
            OutletForm,
            OutletRow
        },
        data() {
            return {
                outlet: null,
                output: 0,
                outlets: [],
                types: ['Магазин', 'Киоск', 'Универмаг'],
            }
        },
        created() {
            outlets.getOutletsList().then(result => {
                result.json().then(data => {
                    this.outlets = data;
                })
            });
        },
        methods: {
            addOutlet(outlet) {
                this.outlets.push(outlet);
            },
            editOutlet(outlet) {
                this.outlet = outlet
            },
            deleteOutlet(outlet) {
                this.$resource('/outlet/{id}').remove({id: outlet.id}).then(result => {
                    if (result.ok) {
                        this.outlets.splice(this.outlets.indexOf(outlet), 1)
                    }
                })
            }
        }
    }

</script>

<style>

</style>