<template>
    <v-container>

            <product-form :owner_id="owner_id"
                          :add-to-list="addToList"
            ></product-form>


            <order-form :owner_id="this.owner_id"
                        :confirmOrder="confirmOrder"
                        :disable="listSize === 0"
                        :buyersPath="buyersPath"
                        :isOutletSeller="ownerType === 'outlet'"
            ></order-form>



        <v-row>
            <v-col>
                <deal-product-list :products="Array.from(selectedProducts.values())"
                                   btn-text="Корзина"
                ></deal-product-list>
            </v-col>
        </v-row>


        <v-layout column>
            <product-row v-for="product in productList"
                         v-bind:key="product.id"
                         :product="product"
                         :addProduct="addProduct"
            />
        </v-layout>
    </v-container>
</template>

<script>
    import ProductRow from 'components/products/ProductRow.vue'
    import ProductForm from 'components/products/ProductForm.vue'
    import OrderForm from 'components/products/OrderForm.vue'
    import DealProductList from "../components/deals/DealProductList.vue";

    export default {
        name: "ProductList",
        props: ['ownerType'],
        components: {OrderForm, ProductRow, ProductForm, DealProductList},
        data() {
            return {
                products: new Map(),
                productList: [],
                selectedProducts: new Map(),
                product_count: 0,
                owner_id: this.$route.params.id,
                listSize: 0
            }
        },
        created() {
            this.products.clear();
            this.$resource('/product{/id}').get({'owner_id': this.owner_id}).then(result => {
                result.json().then(data => {
                    data.forEach(p => {
                        this.products.set(p.name, p);
                    });
                    this.productList = Array.from(this.products.values());
                })
            });
        },
        methods: {
            addToList(product) {
                if (this.products.has(product.name)) {
                    let p = this.products.get(product.name);
                    p.quantity += product.quantity;
                    p.unitPrice = product.unitPrice;
                } else {
                    this.products.set(product.name, product);
                }
                this.productList = Array.from(this.products.values());
            },
            addProduct(product, order_count) {
                if (this.selectedProducts.has(product.name)) {
                    if (order_count === 0) {
                        this.selectedProducts.delete(product.name);
                    } else {
                        let pr = this.selectedProducts.get(product.name);
                        pr.quantity = order_count;
                        this.selectedProducts.set(product.name, pr)
                    }
                } else {
                    let new_product = {
                        name: product.name,
                        quantity: order_count,
                        unitPrice: product.unitPrice
                    };

                    this.selectedProducts.set(new_product.name, new_product);
                }

                this.listSize = this.selectedProducts.size;
            },
            confirmOrder(buyer_id, seller_id) {
                let params = {'seller_id': this.owner_id, 'buyer_id': buyer_id};
                if (this.ownerType === 'outlet') {
                    params.seller_id = seller_id;
                    params.outlet_id = this.owner_id;
                }

                this.$resource('/deal').save(params,
                    Array.from(this.selectedProducts.values())).then(result => {
                    this.selectedProducts = new Map();
                    this.listSize = this.selectedProducts.size;

                    this.$resource('/product{/id}').get({'owner_id': this.owner_id}).then(result => {
                        result.json().then(data => {
                            this.products.clear();
                            data.forEach(p => {
                                this.products.set(p.name, p);
                            });
                            this.productList = Array.from(this.products.values());
                        })
                    })
                });
            }
        },
        computed: {
            buyersPath() {
                if (this.ownerType === 'provider') {
                    return '/outlet'
                } else {
                    return '/customer'
                }
            }
        }
    }
</script>

<style scoped>

</style>