<template>
    <v-container>
        <v-layout column>
            <search-form resource-path="/provider/filter" :update-data="updateData"></search-form>
            <provider-form :providers="providers"
                           :updateData="updateData"
                           btnText="Создать"
                           :activateBtn="true"
            ></provider-form>
            <div class="text-center">
                <v-pagination
                        v-model="pageNo"
                        :length="totalPages"
                        @input="switchPage"
                ></v-pagination>
            </div>
            <v-expansion-panels>
                <provider-row v-for="provider in this.providers" v-bind:key="provider.id"
                              :provider="provider"
                              :edit="editProvider"
                              :del="delProvider"
                />
            </v-expansion-panels>
        </v-layout>
    </v-container>
</template>

<script>
    import ProviderRow from 'components/providers/ProviderRow.vue'
    import ProviderForm from 'components/providers/ProviderForm.vue'
    import SearchForm from 'components/SearchForm.vue'
    import providers from 'api/providers'
    import util from "../util/util";

    export default {
        name: "ProviderList.vue",
        components: {ProviderRow, ProviderForm, SearchForm},
        props: ['size', 'page'],
        data() {
            return {
                providers: [],
                pageNo: 1,
                totalPages: 1,
                filter: ''
            }
        },
        created() {
            let params = {};
            if (this.size) {
                params.size = this.size;
            }
            if (this.page) {
                params.page = this.page;
            }
            this.$resource('/provider').get(params).then(result => {
                result.json().then(data => {
                    this.providers = data.content;
                    this.totalPages = data.totalPages;
                })
            });
        },
        methods: {
            editProvider(provider) {
                const index = util.getIndex(this.providers, provider.id);
                this.providers.splice(index, 1, provider);
            },
            delProvider(provider) {
                const id = provider.id;
                this.$resource('/provider{/id}').delete({id}).then(result => {
                    this.providers.splice(this.providers.indexOf(provider), 1)
                })
            },
            updateData(newPage, filter) {
                this.filter = filter;
                if (newPage) {
                    this.providers = newPage.content;
                    this.totalPages = newPage.totalPages;
                } else {
                    this.pageNo = 1;
                    this.switchPage();
                }
            },
            switchPage() {
                let params = {};
                if (this.size) {
                    params.size = this.size;
                }

                params.page = this.pageNo - 1;

                let path = '/provider';
                if (this.filter !== '') {
                    params.filter = this.filter;
                    path += '/filter';
                }

                this.$resource(path).get(params).then(result => {
                    result.json().then(data => {
                        this.providers = data.content;
                        this.totalPages = data.totalPages;
                    })
                });
            }
        }
    }
</script>

<style scoped>

</style>