<template>
    <v-container>
        <v-col>
            Сотрудники торговой точки {{outlet.name}}
        </v-col>
        <worker-form :outlet-id="outlet.id"
                     :workers="workers"
                     :disable="workers.length === outlet.workplacesCount"
                     :activateBtn="true"
                     :add-worker="addWorker"
                     btn-text="Добавить"
        ></worker-form>
        <v-expansion-panels>
            <worker-row v-for="worker in this.workers" v-bind:key="worker.id"
                        :worker="worker"
                        :workers="workers"
                        :outlet="outlet"
                        :delete-worker="deleteWorker"
            ></worker-row>
        </v-expansion-panels>
    </v-container>
</template>

<script>
    import WorkerForm from 'components/workers/WorkerForm.vue'
    import WorkerRow from 'components/workers/WorkerRow.vue'

    export default {
        name: "WorkersPage",
        components: {WorkerRow, WorkerForm},
        data() {
            return {
                workers: [],
                outlet: ''
            }
        },
        created() {
            const outletId = this.$route.params.id;
            this.$resource('/outlet/' + outletId).get({}).then(result => {
                result.json().then(data => {
                    this.outlet = data;
                })
            });

            this.$resource('/worker').get({'outlet_id': outletId}).then(resp => {
                resp.json().then(data => {
                    this.workers = data
                });
            });
        },
        methods: {
            deleteWorker(worker) {
                this.$resource('/worker/{id}').remove({id: worker.id}).then(result => {
                    if (result.ok) {
                        this.workers.splice(this.workers.indexOf(worker), 1)
                    }
                })
            },
            addWorker(worker) {
                this.workers.push(worker);
            }
        }
    }
</script>

<style scoped>

</style>